<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Cats30.Client.Cats30.Client" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Cats30.Client"
               android:theme="@android:style/Theme.Holo"
               android:icon="@drawable/Icon"> 
  </application>
</manifest>